@use './variable'
    
* 
    margin: 0
    padding: 0
    box-sizing: 0 
    font-family: 'Unbounded', cursive 
    text-shadow: 2px 2px 3px black
    a
        text-decoration: none
    li
        list-style-type: none
body
    background: url('../assets/img/valorant-bg.jpg')