@use "../../../../../../styles/variable"
@use "../../../../../../styles/mixins"

.section
    height: 93vh
    @include mixins.flex-center
    .quiz
        @include mixins.flex-center
        flex-direction: column
        background-color: #E6E6E6
        border-radius: 10px
        box-shadow: 2px 2px 5px black
        position: relative
        margin: 10px
        height: 70%
        &-decrement
            position: absolute
            right: -40px
            padding: 12px
            border-bottom-left-radius: 8px
            animation: slide 1.6s ease forwards
            animation-iteration-count: 1
            top: 0
            color: #be0000
            animation-name: slide
        &-add
            position: absolute
            right: -40px
            padding: 12px
            border-bottom-left-radius: 8px
            animation: slide 1.6s ease forwards
            animation-iteration-count: 1
            top: 0
            color: #06be00
            animation-name: slide
        &-counter
            position: absolute
            right: 0
            padding: 12px
            border-bottom-left-radius: 8px
            top: 0
            color: #fff
            background-color: variable.$tertiaryColor
        &-pontuation
            color: variable.$tertiaryColor
            margin: 20px
            text-align: center
        &-questions
            @include mixins.flex-center
            flex-direction: column
            margin: 20px
            h1
                color: variable.$tertiaryColor
                text-align: center
                margin: 40px
            ul
                @include mixins.flex-center
                flex-direction: column
                background-color: variable.$primaryColor
                border-radius: 8px
                padding: 20px
                li
                    color: #fff
                    text-shadow: none
                    margin: 5px       
                    font-weight: 700
            img
                filter: brightness(0%)
                width: 200px
        &-input
            background-color: variable.$secundaryColor
            border: none
            border-radius: 8px
            padding: 5px
            text-align: center
            width: 60%
            color: variable.$tertiaryColor
            margin: 20px
        &-button
            background-color: variable.$tertiaryColor
            padding: 20px
            color: #fff
            cursor: pointer
            border-radius: 8px
            margin: 20px
            border: none
            transition: .3s
            &:hover
                transform: scale(0.97)
    .final
        height: 93vh
        @include mixins.flex-center
        flex-direction: column
        &-text
            color: variable.$tertiaryColor
            text-align: center
            font-weight: 700
        &-button
            background-color: variable.$tertiaryColor
            padding: 20px
            color: #fff
            cursor: pointer
            text-align: center
            border-radius: 8px
            margin: 20px
            border: none
            transition: .3s
            &:hover
                transform: scale(0.97)

@keyframes slide
    0%
        opacity: 0
        transform: translateY(30px)
    50%
        opacity: 1
        transform: translateY(0)
    100%
        opacity: 0
        transform: translateY(-30px)